.Banner {
    min-height: 360px;
    &::before {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        // opacity: 1;
        background:
            linear-gradient(to top, var(--block-color-gradient), transparent 180px),
            var(--block-color-gradient2);

        z-index: 1;
    }
}
