.MangaCard {
    color: var(--text-color);
    display: block;
    position: relative;

    &.dynamic {
        width: 100%;
    }

    &.media {
        width: 135px;

        @media (width <= 720px) {
            width: 115px;
        }
    }
}

.img {
    width: 100%;
    padding: 0 0 141%;
}

.title {
    transition: color 0.2s ease;

    &:hover {
        color: var(--accent-color);
    }
}

.subtitle {
    font: var(--font-s);
    color: inherit;
    opacity: 0.8;
    overflow: hidden;
}

.label1,
.label2,
.label3 {
    position: absolute;

    padding: 2px 4px;
    border-radius: 2px;
    font: var(--font-s);
    overflow: hidden;
}

.label1 {
    top: 7px;
    left: -5px;
    max-width: 30px;
    background: var(--primary-color);
}

.label2 {
    top: 7px;
    right: 5px;
    max-width: 60px;
    text-overflow: ellipsis;
    text-align: center;
    background: var(--secondary-color);
}

.label3 {
    position: absolute;
    bottom: 10px;
    left: 5px;
    max-width: 70px;
    background: rgba(0 0 0 / 60%);
    color: #fff;
    text-align: center;
}
