.modalTrigger {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 10px;

    &:not(.mobile) {
        font-weight: 600;
    }

    &.mobile {
        background: var(--bg-color);
        width: 98%;
    }
}

.block {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--accent-color);
}
