.modal {
    background: var(--block-color);
    padding: 10px;
    border-radius: 8px;
    flex-grow: 1;
    overflow-x: auto;
    scrollbar-width: none;
}

.overlay {
    z-index: var(--modal-z-index);
    position: fixed;
    inset: 0;
    display: flex;
    padding: 0;
}

.sheetHand {
    width: 200px;
    height: 6px;
    background: var(--primary-color);
    border-radius: 8px;
    justify-self: center;
    margin-bottom: 10px;

    &.dragSheetHand {
        background: var(--text-color);
    }
}
