.ToChapterLink {
    text-align: center;
    padding: 10px;
    color: var(--text-color);
    transition: background 0.3s ease;
    background: var(--bg-color);
    border-radius: 8px;
    &:hover {
        background: var(--accent-color);
    }
}
