[data-theme='blue-light'] {
    --background: oklch(0.9372 0.0154 269.9798);
    --foreground: oklch(0.3656 0.0226 245.9045);
    --card: oklch(0.9789 0.0099 267.36);
    --card-foreground: oklch(0.3656 0.0226 245.9045);
    --popover: oklch(0.9789 0.0099 267.36);
    --popover-foreground: oklch(0.3656 0.0226 245.9045);
    --primary: oklch(0.5731 0.0803 249.3848);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.8472 0.0312 265.3064);
    --secondary-foreground: oklch(0.4166 0.0302 246.7423);
    --muted: oklch(0.9022 0.0193 263.0038);
    --muted-foreground: oklch(0.5105 0.04 252.5117);
    --accent: oklch(0.7768 0.0449 268.1054);
    --accent-foreground: oklch(0.3656 0.0226 245.9045);
    --destructive: oklch(0.6546 0.0991 213.5185);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8219 0.0332 264.3751);
    --input: oklch(0.8219 0.0332 264.3751);
    --ring: oklch(0.5731 0.0803 249.3848);
    --chart-1: oklch(0.5731 0.0803 249.3848);
    --chart-2: oklch(0.518 0.0652 251.3886);
    --chart-3: oklch(0.4364 0.0614 254.9855);
    --chart-4: oklch(0.6462 0.0632 247.3343);
    --chart-5: oklch(0.6933 0.0592 248.6925);
    --sidebar: oklch(0.9022 0.0193 263.0038);
    --sidebar-foreground: oklch(0.3656 0.0226 245.9045);
    --sidebar-primary: oklch(0.5731 0.0803 249.3848);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.7768 0.0449 268.1054);
    --sidebar-accent-foreground: oklch(0.3656 0.0226 245.9045);
    --sidebar-border: oklch(0.8219 0.0332 264.3751);
    --sidebar-ring: oklch(0.5731 0.0803 249.3848);
}

[data-theme='blue-dark'] {
    --background: oklch(0.2721 0.0136 239.1184);
    --foreground: oklch(0.9022 0.0193 263.0038);
    --card: oklch(0.3199 0.0153 240.4335);
    --card-foreground: oklch(0.9022 0.0193 263.0038);
    --popover: oklch(0.3199 0.0153 240.4335);
    --popover-foreground: oklch(0.9022 0.0193 263.0038);
    --primary: oklch(0.6933 0.0592 248.6925);
    --primary-foreground: oklch(0.2721 0.0136 239.1184);
    --secondary: oklch(0.3766 0.0178 238.5129);
    --secondary-foreground: oklch(0.9022 0.0193 263.0038);
    --muted: oklch(0.3199 0.0153 240.4335);
    --muted-foreground: oklch(0.7711 0.0249 262.0751);
    --accent: oklch(0.4145 0.0273 238.35);
    --accent-foreground: oklch(0.9022 0.0193 263.0038);
    --destructive: oklch(0.6546 0.0991 213.5185);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3766 0.0178 238.5129);
    --input: oklch(0.3766 0.0178 238.5129);
    --ring: oklch(0.6933 0.0592 248.6925);
    --chart-1: oklch(0.6933 0.0592 248.6925);
    --chart-2: oklch(0.6462 0.0632 247.3343);
    --chart-3: oklch(0.5731 0.0803 249.3848);
    --chart-4: oklch(0.518 0.0652 251.3886);
    --chart-5: oklch(0.4364 0.0614 254.9855);
    --sidebar: oklch(0.2721 0.0136 239.1184);
    --sidebar-foreground: oklch(0.9022 0.0193 263.0038);
    --sidebar-primary: oklch(0.6933 0.0592 248.6925);
    --sidebar-primary-foreground: oklch(0.2721 0.0136 239.1184);
    --sidebar-accent: oklch(0.4145 0.0273 238.35);
    --sidebar-accent-foreground: oklch(0.9022 0.0193 263.0038);
    --sidebar-border: oklch(0.3766 0.0178 238.5129);
    --sidebar-ring: oklch(0.6933 0.0592 248.6925);
}
