[data-theme='green-light'] {
    --background: oklch(0.9579 0.0167 178.2756);
    --foreground: oklch(0.3878 0.0322 161.5828);
    --card: oklch(0.9917 0.0112 176.3262);
    --card-foreground: oklch(0.3878 0.0322 161.5828);
    --popover: oklch(0.9917 0.0112 176.3262);
    --popover-foreground: oklch(0.3878 0.0322 161.5828);
    --primary: oklch(0.6607 0.1043 159.831);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.8874 0.0354 174.0333);
    --secondary-foreground: oklch(0.447 0.0425 161.5073);
    --muted: oklch(0.9263 0.0231 172.8294);
    --muted-foreground: oklch(0.5551 0.0521 164.2801);
    --accent: oklch(0.8365 0.0472 175.8119);
    --accent-foreground: oklch(0.3878 0.0322 161.5828);
    --destructive: oklch(0.6812 0.1844 145.7725);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8643 0.038 173.2392);
    --input: oklch(0.8643 0.038 173.2392);
    --ring: oklch(0.6607 0.1043 159.831);
    --chart-1: oklch(0.6607 0.1043 159.831);
    --chart-2: oklch(0.5909 0.083 161.6705);
    --chart-3: oklch(0.509 0.073 163.3843);
    --chart-4: oklch(0.7114 0.0868 160.6714);
    --chart-5: oklch(0.7554 0.0805 161.922);
    --sidebar: oklch(0.9263 0.0231 172.8294);
    --sidebar-foreground: oklch(0.3878 0.0322 161.5828);
    --sidebar-primary: oklch(0.6607 0.1043 159.831);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8365 0.0472 175.8119);
    --sidebar-accent-foreground: oklch(0.3878 0.0322 161.5828);
    --sidebar-border: oklch(0.8643 0.038 173.2392);
    --sidebar-ring: oklch(0.6607 0.1043 159.831);
}

[data-theme='green-dark'] {
    --background: oklch(0.2835 0.0208 159.1478);
    --foreground: oklch(0.9263 0.0231 172.8294);
    --card: oklch(0.3331 0.0232 159.7857);
    --card-foreground: oklch(0.9263 0.0231 172.8294);
    --popover: oklch(0.3331 0.0232 159.7857);
    --popover-foreground: oklch(0.9263 0.0231 172.8294);
    --primary: oklch(0.7554 0.0805 161.922);
    --primary-foreground: oklch(0.2835 0.0208 159.1478);
    --secondary: oklch(0.3911 0.0274 159.0287);
    --secondary-foreground: oklch(0.9263 0.0231 172.8294);
    --muted: oklch(0.3331 0.0232 159.7857);
    --muted-foreground: oklch(0.8021 0.0299 171.8466);
    --accent: oklch(0.4372 0.0419 158.1126);
    --accent-foreground: oklch(0.9263 0.0231 172.8294);
    --destructive: oklch(0.6812 0.1844 145.7725);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3911 0.0274 159.0287);
    --input: oklch(0.3911 0.0274 159.0287);
    --ring: oklch(0.7554 0.0805 161.922);
    --chart-1: oklch(0.7554 0.0805 161.922);
    --chart-2: oklch(0.7114 0.0868 160.6714);
    --chart-3: oklch(0.6607 0.1043 159.831);
    --chart-4: oklch(0.5909 0.083 161.6705);
    --chart-5: oklch(0.509 0.073 163.3843);
    --sidebar: oklch(0.2835 0.0208 159.1478);
    --sidebar-foreground: oklch(0.9263 0.0231 172.8294);
    --sidebar-primary: oklch(0.7554 0.0805 161.922);
    --sidebar-primary-foreground: oklch(0.2835 0.0208 159.1478);
    --sidebar-accent: oklch(0.4372 0.0419 158.1126);
    --sidebar-accent-foreground: oklch(0.9263 0.0231 172.8294);
    --sidebar-border: oklch(0.3911 0.0274 159.0287);
    --sidebar-ring: oklch(0.7554 0.0805 161.922);
}
