[data-theme='violet-light'] {
    --background: oklch(0.938 0.0231 317.1331);
    --foreground: oklch(0.3483 0.0382 306.1859);
    --card: oklch(0.9784 0.0151 315.9664);
    --card-foreground: oklch(0.3483 0.0382 306.1859);
    --popover: oklch(0.9784 0.0151 315.9664);
    --popover-foreground: oklch(0.3483 0.0382 306.1859);
    --primary: oklch(0.5218 0.1336 305.3371);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.8442 0.0481 314.9627);
    --secondary-foreground: oklch(0.3943 0.051 306.2341);
    --muted: oklch(0.8986 0.0303 314.0341);
    --muted-foreground: oklch(0.4895 0.0658 308.6618);
    --accent: oklch(0.7778 0.0672 316.2638);
    --accent-foreground: oklch(0.3483 0.0382 306.1859);
    --destructive: oklch(0.4379 0.1909 282.6212);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8178 0.0514 314.5222);
    --input: oklch(0.8178 0.0514 314.5222);
    --ring: oklch(0.5218 0.1336 305.3371);
    --chart-1: oklch(0.5218 0.1336 305.3371);
    --chart-2: oklch(0.4817 0.1073 306.9341);
    --chart-3: oklch(0.4115 0.0983 308.5776);
    --chart-4: oklch(0.6008 0.1066 305.734);
    --chart-5: oklch(0.6539 0.0992 306.741);
    --sidebar: oklch(0.8986 0.0303 314.0341);
    --sidebar-foreground: oklch(0.3483 0.0382 306.1859);
    --sidebar-primary: oklch(0.5218 0.1336 305.3371);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.7778 0.0672 316.2638);
    --sidebar-accent-foreground: oklch(0.3483 0.0382 306.1859);
    --sidebar-border: oklch(0.8178 0.0514 314.5222);
    --sidebar-ring: oklch(0.5218 0.1336 305.3371);
}

[data-theme='violet-dark'] {
    --background: oklch(0.2587 0.0232 303.7973);
    --foreground: oklch(0.8986 0.0303 314.0341);
    --card: oklch(0.3054 0.0261 304.389);
    --card-foreground: oklch(0.8986 0.0303 314.0341);
    --popover: oklch(0.3054 0.0261 304.389);
    --popover-foreground: oklch(0.8986 0.0303 314.0341);
    --primary: oklch(0.6539 0.0992 306.741);
    --primary-foreground: oklch(0.2587 0.0232 303.7973);
    --secondary: oklch(0.3586 0.0303 303.6541);
    --secondary-foreground: oklch(0.8986 0.0303 314.0341);
    --muted: oklch(0.3054 0.0261 304.389);
    --muted-foreground: oklch(0.7658 0.0393 313.5507);
    --accent: oklch(0.3865 0.047 302.9152);
    --accent-foreground: oklch(0.8986 0.0303 314.0341);
    --destructive: oklch(0.4379 0.1909 282.6212);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3586 0.0303 303.6541);
    --input: oklch(0.3586 0.0303 303.6541);
    --ring: oklch(0.6539 0.0992 306.741);
    --chart-1: oklch(0.6539 0.0992 306.741);
    --chart-2: oklch(0.6008 0.1066 305.734);
    --chart-3: oklch(0.5218 0.1336 305.3371);
    --chart-4: oklch(0.4817 0.1073 306.9341);
    --chart-5: oklch(0.4115 0.0983 308.5776);
    --sidebar: oklch(0.2587 0.0232 303.7973);
    --sidebar-foreground: oklch(0.8986 0.0303 314.0341);
    --sidebar-primary: oklch(0.6539 0.0992 306.741);
    --sidebar-primary-foreground: oklch(0.2587 0.0232 303.7973);
    --sidebar-accent: oklch(0.3865 0.047 302.9152);
    --sidebar-accent-foreground: oklch(0.8986 0.0303 314.0341);
    --sidebar-border: oklch(0.3586 0.0303 303.6541);
    --sidebar-ring: oklch(0.6539 0.0992 306.741);
}
