.NowReadMangaBlock {
    padding: 10px 25px;
    @media (max-width: 991px) {
        padding: 10px 5px;
    }
}

.title {
    padding-left: 10px;
    margin-bottom: 20px;
}

.rowTitle {
    padding-left: 10px;
    margin-bottom: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 991px) {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        grid-template-columns: 48% 48% 52%;
        scrollbar-width: none;
        //-ms-overflow-style: none;
    }
    @media (max-width: 650px) {
        grid-template-columns: 92% 92% 100%;
    }
}
