.fill {
    background: var(--primary-color);
    height: 100%;
}

.bar {
    box-shadow: inset 0 0 0 1px var(--primary-color);
    forced-color-adjust: none;
    height: 7px;
    border-radius: 5px;
    overflow: hidden;
    will-change: transform;
}

.value {
    font: var(--font-s);
    opacity: 0.9;
}
