.Divider {
    width: 100%;
    height: 1px;
}

.primary {
    background: var(--primary-color);
}

.secondary {
    background: var(--secondary-color);
}

.text {
    background: var(--text-color);
}
