.ChapterListItem {
    padding: 10px 15px;
    display: grid;
    overflow: hidden;
    grid-template-columns: auto 1fr auto auto;
    gap: 8px;
    align-items: center;
}

.chapter {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
