.overlay {
    position: fixed;
    inset: 0;
    background: rgba(45 0 0 / 0.3);
    backdrop-filter: blur(10px);

    &[data-entering] {
        animation: mymodal-blur 300ms;
    }

    &[data-exiting] {
        animation: mymodal-blur 300ms reverse ease-in;
    }
    z-index: var(--modal-z-index);
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 400px;
    min-width: 300px;
    background: var(--block-color);
    outline: none;
    border-left: 1px solid var(--accent-color);
    box-shadow: -8px 0 20px rgba(0 0 0 / 0.1);
    overflow-y: auto;
    scrollbar-width: none;

    &[data-entering] {
        animation: mymodal-slide 300ms;
    }

    &[data-exiting] {
        animation: mymodal-slide 300ms reverse ease-in;
    }
}

@keyframes mymodal-blur {
    from {
        background: rgba(45 0 0 / 0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(45 0 0 / 0.3);
        backdrop-filter: blur(10px);
    }
}

@keyframes mymodal-slide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}
