.LineRateStatistic {
}
.max {
    width: 100%;
}
.count {
    font: var(--font-s);
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
}
