@use './reset';
@use './varibles/globals';
@use './theme/red/red';
@use './theme/green/green';
@use 'swiper/scss';

html {
    font-size: 16px;
}

.swiper-wrapper {
    width: 300px;
}

body {
    font: var(--font-m);
    color: var(--text-color);
    box-sizing: border-box;
}
