@use './reset';
@use './varibles/globals';
@use './theme/red/red';
@use './theme/green/green';
@use './theme/blue/blue';
@use './theme/common/common';
@use './swiper';
@use './skeleton';

html {
    font-size: 16px;
}

body {
    font: var(--font-m);
    color: var(--text-color);
    box-sizing: border-box;
}
