.CatalogSearchInput {
    position: relative;
}
.input {
    padding-left: 30px;
}
.search {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-52%);
}
.crossout {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: opacity 0.2s ease;
    &:hover {
        opacity: 0.8;
    }
}
