.MangaTitle {
    position: relative;
    padding: 10px;
}

.rate {
    font: var(--font-l);
    line-height: 1.7rem;
}
.rateNumber {
    opacity: 0.8;
    line-height: 1.5rem;
}
.rateBtn {
    padding-top: 5px;
    padding-bottom: 5px;
}
.backgroundRate {
    background-color: var(--block-color);
    padding: 4px 6px;
    border-radius: 4px;
}
