.BottomMenuLayout {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: var(--header-height);
    padding: 5px 10px;
    z-index: var(--header-z-index);
    transition: bottom 0.3s ease;
}

.hidden {
    bottom: calc(-1 * var(--header-height));
}

.storybook {
    background: rgb(176 39 116);
}
