.NumberField {
    border-radius: 4px;
    padding: 2px 5px;
    font: var(--font-s);
}
.primaryBorder {
    border: 2px var(--primary-color) solid;
}

.secondaryBorder {
    border: 2px var(--secondary-color) solid;
}

.primaryBorder,
.secondaryBorder {
    transition: border 0.2s ease;

    &[data-hovered],
    &[data-focused] {
        border: 2px var(--accent-color) solid;
    }
}
.input {
    background: none;
    width: 100%;
    flex-grow: 1;
}
.buttons {
    display: flex;
    flex-direction: column;
}
.decrement {
    transform: rotate(180deg) scale(1);
    &:hover {
        transform: rotate(180deg) scale(1.2);
    }
}

.increment {
    &:hover {
        transform: scale(1.2);
    }
}
.decrement,
.increment {
    transition: transform 0.2s ease;
}
