.Popover {
    //box-shadow: 0 8px 20px rgba(0 0 0 / 10%);
    border-radius: 6px;
    background: var(--bg-color);
    color: var(--text-color);
    outline: none;
    max-width: 270px;
    box-shadow: 1px 1px 10px;
    transition: transform 200ms, opacity 200ms;

    &[data-entering],
    &[data-exiting] {
        transform: var(--origin);
        opacity: 0;
    }

    &[data-placement='top'] {
        --origin: translateY(8px);
    }

    &[data-placement='bottom'] {
        --origin: translateY(-8px);
    }

    &[data-placement='right'] {
        --origin: translateX(-8px);
    }

    &[data-placement='left'] {
        --origin: translateX(8px);
    }
}
