.Select {
    position: relative;
}

.popover {
    background: var(--block-color);
    padding: 5px;
    min-width: 150px;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px var(--text-color);
    transition: all 0.3s ease;
    transform: translateY(0);
    opacity: 1;

    &[data-entering] {
        transform: translateY(10px);
        opacity: 0;
    }

    &[data-exiting] {
        transform: translateY(10px);
        opacity: 0;
    }
}

.selectItem {
    padding: 3px 5px;
    border-radius: 4px;
    background: var(--block-color);
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    &::before {
        content: '';
        position: absolute;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid var(--secondary-color);
    }

    &[data-hovered] {
        background: var(--secondary-color);
    }

    &[data-selected] {
        &::before {
            border: 1px solid var(--accent-color);
            background: var(--accent-color);
        }
    }
}

.max {
    width: 100%;
}
.minWidthTarget {
    min-width: var(--trigger-width);
}
