.AboutManga {
}
.textDisclosure {
    //padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.janresAndTagsList {
    padding: 0 15px;
    margin-bottom: 15px;
}
.similarMangaSlider {
    margin-bottom: 15px;
}
.statistic {
    padding: 0 15px;
    margin-bottom: 15px;
}
.statisticBlock {
    flex: 0 0 50%;
}
