.MainLayout {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    //padding-top: var(--header-height);
    //overflow-x: hidden;
    background: var(--bg-color);
}

.bottomMenu:has(nav) {
    //padding-bottom: var(--header-height);
}

.storybook {
    height: 500px;
}
