.h1 {
    font: var(--font-xxl);
    font-family: 'Montserrat', sans-serif;
}

.h2 {
    font: var(--font-xl);
    font-family: 'Montserrat', sans-serif;
}

.h3 {
    font: var(--font-l);
    font-family: 'Montserrat', sans-serif;
}
.h4 {
    font: var(--font-m);
    font-family: 'Montserrat', sans-serif;
}

.h5 {
    font: var(--font-s);
    font-family: 'Montserrat', sans-serif;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.plain {
    color: var(--text-color);
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}
.opacity {
    opacity: 0.8;
}
