.CatalogPage {
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 330px;
    gap: 16px;
    @media (max-width: 991px) {
        grid-template-columns: 1fr;
    }
}
.catalog {
    width: 100%;
    // flex-basis: auto;
    height: 5000px;
}
.filters {
    position: sticky;
    width: 330px;
    height: 90vh;
    top: calc(15px + var(--header-height));

    // flex-basis: 300px;
    // flex-shrink: 0;
}
