.rightBtn,
.leftBtn {
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 40%;
    width: 50px;
    height: 50px;
    background: var(--block-color);
    z-index: 10;
    box-shadow: 0 0 5px 1px var(--bg-color);
}

.rightBtn {
    right: -20px;

    &:hover {
        right: -25px;
    }
}

.leftBtn {
    left: -20px;

    &:hover {
        left: -25px;
    }

    svg {
        transform: rotate(180deg);
    }
}

.sliderWrapper {
    position: relative;
    width: 100%;

    .rightBtn,
    .leftBtn {
        transition: all 0.3s ease;
    }

    &:hover {
        .rightBtn,
        .leftBtn {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.slide {
    width: auto;
}
