.flower {
    aspect-ratio: 1;

    --c: var(--primary) 91%, #00000000;

    background:
        radial-gradient(30% 50% at -3px 55%, var(--c)) top right,
        radial-gradient(30% 50% at -3px 45%, var(--c)) bottom right,
        radial-gradient(30% 50% at calc(100% + 3px) 55%, var(--c)) top left,
        radial-gradient(30% 50% at calc(100% + 3px) 45%, var(--c)) bottom left,
        radial-gradient(50% 30% at 45% calc(100% + 3px), var(--c)) top right,
        radial-gradient(50% 30% at 45% -3px, var(--c)) bottom right,
        radial-gradient(50% 30% at 55% calc(100% + 3px), var(--c)) top left,
        radial-gradient(50% 30% at 55% -3px, var(--c)) bottom left;
    background-size: 50.1% 50.1%;
    background-repeat: no-repeat;
    mask: radial-gradient(circle 5px, #0000 90%, #000);
    animation: l13 1.5s infinite linear;
}

.spinner {
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, var(--primary) 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, var(--primary));
    mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13 {
    100% {
        transform: rotate(1turn);
    }
}
