.modal {
    background: var(--block-color);
    padding: 10px;
    border-radius: 4px;
    flex-grow: 1;
    max-width: 600px;

    &[data-entering] {
        animation: modal-zoom 200ms;
    }

    &[data-exiting] {
        animation: modal-zoom 300ms reverse ease-in;
    }
}

.dialog {
    flex-grow: 1;
}

.overlay {
    z-index: var(--modal-z-index);
    position: fixed;
    inset: 0;
    display: flex;
    padding: 45px 20px;
    background: var(--modal-overlay);

    &[data-entering] {
        animation: modal-fade 200ms;
    }

    &[data-exiting] {
        animation: modal-fade 300ms reverse ease-in;
    }
}

.verticalCenter {
    align-items: center;
}

.verticlalTop {
    align-items: start;
}

.verticalBottom {
    align-items: end;
}

.horizonCenter {
    justify-content: center;
}

.horisonRight {
    justify-content: end;
}

.horizonLeft {
    justify-content: start;
}

@keyframes modal-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modal-zoom {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}
